* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}
.imagen {
    display: flex;
    align-items: center;
    position: absolute;
    width: 365px;
    height: 313px;
    left: 31px;
    top: 100px;

}


.inicio {
    width: 100%;
    height: 100%;
    display: grid;
    place-items: center;
}

@font-face {
    font-family: glacial;
    src: url(GlacialIndifference-Regular.otf);
}

@font-face {
    font-family: chewy;
    src: url(Chewy.ttf);
}

.inicio {
    background-color: purple;
}

.bienvenidos {
    font-family: chewy;
    color: black;
    font-size: 100%;
}

.intro {
    font-family: glacial;
    color: black;
    font-size: 100%;
}