* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
@font-face {
  font-family: glacial;
  src: url(GlacialIndifference-Regular.otf);
}

@font-face {
  font-family: chewy;
  src: url(Chewy.ttf);
}
.contenedor {
  margin-top: 5%;
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.textobienvenida {
  background-color: rgba(174, 223, 228, 0.45);
  border: 1px solid #d9d9d9;
  margin: 2%;
  padding: 10px;
  text-align: center;
  width: 390px;
  min-width: 350px;
  height: auto;
}

.imagen {
  margin: 3%;
  padding: 10px;
  width: 365px;
  height: 313px;
}

.bienvenidos {
  font-family: chewy;
  color: black;
  font-size: 3.5rem;
  margin: 10px;
  padding: 5px;
}

.intro {
  font-family: glacial;
  color: black;
  font-size: 2.5rem;
  margin: 10px;
}

.start {
  width: 50%;
  height: 40px;
  background: #bed73d;
  border-radius: 13px;
  font-family: 'Chewy';
  font-size: 2rem;
  margin: 3%;
}

.google {
  background-color: #4D90FE;
   background-image: -webkit-gradient(linear,left top,left bottom,from(#4D90FE),to(#4787ED));
   background-image: -moz-linear-gradient(top,#4D90FE,#4787ED);
   background-image: -ms-linear-gradient(top,#4D90FE,#4787ED);
   background-image: -o-linear-gradient(top,#4D90FE,#4787ED);
   background-image: -webkit-linear-gradient(top,#4D90FE,#4787ED);
   background-image: linear-gradient(top,#4D90FE,#4787ED);
  filter: progid:DXImageTransform.Microsoft.gradient
   (startColorStr='#4d90fe',EndColorStr='#4787ed');
   border: 1px solid #3079ED;
   -moz-border-radius: 2px;
   -webkit-border-radius: 2px;
   border-radius: 2px;
   -moz-user-select: none;
   -webkit-user-select: none;
   color: white;
   display: inline-block;
   font-weight: bold;
   height: 29px;
   line-height: 29px;
   text-align: center;
   text-decoration: none;
   padding: 0 8px;
   margin: 0px auto;
  font: 13px/27px Arial,sans-serif;
  cursor:hand;
}

.input {
  width: 80%;
  height: 46px;
  margin: 20px;
}

@media screen and (max-width: 500px) {
  html {
    font-size: 45%;
  }

.contenedor {
    margin-top: -2%;
}
}
